.homePageMainBox {
    width: 100%;
    height: 100vh;
}

.homePageSectionOuterBox {
    padding: 3%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.homePageSectionSubBox {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 2%;
    height: auto;
    border: 10px dodgerblue solid;
    border-radius: 1%;
    font-family: monospace;
    font-size: 22px;
    background-color: skyblue;
}

.homePageSmashLogo {
    border-radius: 2%;
}

.homePageSmashHeading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
}