.homePageMainBox {
    width: 100%;
    height: 100vh;
}

.homePageNavBarMainBox {
    display: inline-flex;
    width: 100%;
    border-bottom: 12px orangered dotted;
}
.homePageNavBarLogo {
    margin: .5%;
}

.homePageNavBarSubBox {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.homePageNavBarFontSpecial {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 900;
    color: orangered;
    font-size: 32px;
}

.homePageSectionOuterBox {
    padding: 3%;
}

.homePageSectionSubBox {
    width: 100%;
    height: 700px;
    border: 10px dodgerblue solid;
    border-radius: 1%;
}
